/* This file is for your main application CSS */
/* @import "./phoenix.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
    a {
        @apply text-[#0069d9] no-underline;
    }

    a:focus, a:hover {
        @apply text-[#606c76];
    }

    h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }    

    p {
        @apply mt-1 text-sm;
    }

    span svg {
        @apply inline-block align-middle;
    }

    input {
        @apply bg-transparent border-2 border-solid border border-[#d1d1d1] rounded-md h-11 pt-[0.6rem] pr-[1rem] pb-[0.7rem] pl-[1rem] w-full;
    }
}

/* Components */
@layer components {
    .btn-primary {
        @apply text-[8px] md:text-[12px] py-1 px-2 md:py-2 md:px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    .container {
        @apply my-0 m-auto bg-white relative w-full h-full px-8;
    }

    .banner {
        @apply text-center border-b-4 bg-[#eee] border-[#e3e3e3] rounded-md font-extralight text-lg mb-5;
    }
        
    .avatar {
        @apply rounded-xl  w-[120px] h-[110px] lg:w-[175px] lg:h-[160px] bg-center bg-no-repeat bg-contain border-solid border-2 border-white bg-white hover:scale-150 transform-gpu;
    }

    .soup-os-icon {
        @apply touch-none rounded-xl  w-[60px] h-[60px] lg:w-[70px] lg:h-[70px] bg-center
        bg-no-repeat bg-contain border-double border-x-4 border-y-4  border-black
        bg-clip-content shadow-xl lg:shadow-2xl shadow-indigo-500/50
        lg:scale-110 transform-gpu transition duration-500 hover:scale-75 mx-2 mt-2 ring-2 lg:mx-4
        lg:mt-4 ring-indigo-600;
    }

    .soup-os-detailed-icon {
        @apply touch-none rounded-xl  w-[60px] h-[60px] lg:w-[70px] lg:h-[70px] bg-center
        bg-no-repeat bg-contain border-double border-x-4 border-y-4  border-black
        bg-clip-content shadow-xl lg:shadow-2xl shadow-indigo-500/50
        lg:scale-110 transform-gpu hover:scale-150 mx-2 mt-2 ring-2 lg:mx-4
        lg:mt-4 ring-indigo-600;
    }    

    .soup-os-bg-base {
        @apply basis-full rounded-4xl bg-no-repeat bg-center bg-cover bg-origin-border max-w-full max-h-full;
    }
 
}

/* Alerts and form errors used by phx.new */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 4px;
    padding-left: 2em;
    margin-bottom: 2em;
    border: 1px solid transparent;    
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    border-radius: 4px;
    padding-left: 2em;
    margin-bottom: 2em;
    border: 1px solid transparent;    
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    padding-left: 2em;
    margin-bottom: 2em;
    border: 1px solid transparent;    
}

.alert p {
    margin-bottom: 0;
}

.alert:empty {
    display: none;
}

.invalid-feedback {
    color: #a94442;
    display: block;
    margin-top: 1em;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-loading{
    cursor: wait;
}

.phx-modal {
    opacity: 1!important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fade-in-scale {
    animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
    animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
    0% { scale: 0.95; opacity: 0; }
    100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
    0% { scale: 1.0; opacity: 1; }
    100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out-keys{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Turn this into a component */
.copy-button {
    position: absolute;
    top: 9px;
    right: 9px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: Merriweather,Book Antiqua,Georgia,Century Schoolbook,serif;
    font-size: 14px;
    line-height: 24px;
    color: currentColor;
}

.copy-button svg {
    width: 20px;
}

.copy-button.clicked {
    top:-20px;
    opacity: 1;
    background: transparent;
    color: #408200;
}

.copy-button.clicked:after {
    content: "Copied! \2713";
}

.copy-button.clicked svg {
    display: none;
    color: currentColor;
}

.swipe-animation{
  position:relative;
  width: 500px;
  height: 200px;
  margin: 60px auto;
  overflow:hidden;
}

.id-card{
  width: 250px;
  height: 140px;
  background:#dadada;
  border-radius:10px;
  position:relative;
  z-index: 2;
  animation: swipe-card 2s ease-in-out infinite;
  
  .scc-tripe{
    position:absolute;
    background:#434343;
    width: 100%;
    height: 25px;
    bottom:30px;
  }
}
.swiper-top, .swiper-bottom{  
  border-radius:8px 8px 0 0;
  position:absolute;
  background: #434343;  
}
.swiper-top{ 
height: 20px;
  bottom:105px;
  z-index: 0;
  width: 400px;
  left: calc(50% - 200px);
}
.swiper-bottom{
  height: 100px;
  bottom:0;
  z-index: 3;
  width: 420px;
  left: calc(50% - 210px);
  
  .light-indicator-valid{
    position:absolute;
    top:10px;
    right:15px;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background:#dadada; 
    animation: reader-light-valid 2s ease-in-out infinite;
  }
  .light-indicator-invalid{
    position:absolute;
    top:10px;
    right:15px;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background:#dadada; 
    animation: reader-light-invalid 2s ease-in-out infinite;
  }  
}

@keyframes swipe-card{
  0%{
    margin-left: -150px;
    transform:rotate(25deg);
  }
  50%{
    transform:rotate(0deg);
  }
  100%{
    margin-left: 500px;
    transform:rotate(-25deg);
  }
}
@keyframes reader-light-valid{
  0%{
    background:#dadada; 
  }
  60%{
    background:#B8FD99; 
  }
}
@keyframes reader-light-invalid{
  0%{
    background:#dadada; 
  }
  60%{
    background:red; 
  }
}

#hideMeAfter5Seconds {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

#hide {
  visibility: hidden;
  width: 0;
  height: 0;
}
